@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************/
/* components */
/*************************/

/* header */

/* ham-burger btn */

.ham-btn {
  @apply relative grid h-[25px] w-7 place-content-center;
}

.ham-btn span {
  @apply h-[3px] w-7 rounded-md bg-black transition-all;
}

.ham-btn::before,
.ham-btn::after {
  content: "";
  @apply absolute h-[3px] w-7 rounded-md bg-black transition-all;
}

.ham-btn::before {
  @apply left-0 top-0;
}

.ham-btn::after {
  @apply bottom-0 left-0;
}

.ham-btn.active span {
  @apply bg-transparent;
}

.ham-btn.active::before {
  @apply top-[14px] w-8 rotate-45;
}

.ham-btn.active::after {
  @apply bottom-2 w-8 -rotate-45;
}

.animate {
  @apply animate-bounce;
  animation-duration: 3s;
}

/* nav bar */

.nav--link::before {
  content: '';
  @apply absolute -bottom-[2px] w-full h-[2px] bg-primary rounded-xl scale-x-0 transition-all origin-left
}

.nav--link:hover::before {
  @apply scale-x-100;
}

/* card */

.card--team:hover .card--team--info,
.card--resource:hover .card--resource--info {
  @apply top-0 left-0 w-full h-full
}

/* input[type=radio] */

input[type=radio] {
  appearance: none;
  margin: 0;
  @apply w-8 h-8 rounded-lg border-[2px] border-black flex items-center justify-center
}

input[type=radio]::before {
  content: '';
  @apply w-5 h-5 bg-primary rounded-lg scale-0 transition-all;
}

input[type=radio]:checked::before {
  @apply scale-100;
}