@tailwind base;
@tailwind components;
@tailwind utilities;

/*************************/
/* components */
/*************************/

/* body */

body.overflow--hidden {
  @apply overflow-hidden;
}

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.page-transition {
  @apply translate-y-10 translate-x-10 bg-black opacity-0 blur-xl;
}

/* header */

/* ham-burger btn */

.ham-btn {
  @apply relative grid h-[20px] w-8 place-content-center;
}

.ham-btn span {
  @apply h-[3px] w-8 rounded-md bg-black transition-all duration-300;
}

.ham-btn::before,
.ham-btn::after {
  content: "";
  @apply absolute h-[3px] rounded-md bg-black transition-all duration-300;
}

.ham-btn::before {
  @apply left-0 top-0 w-8;
}

.ham-btn::after {
  @apply bottom-0 right-0 w-4;
}

.ham-btn.active span {
  @apply bg-transparent;
}

.ham-btn.active::before {
  @apply top-2 w-8 rotate-45;
}

.ham-btn.active::after {
  @apply bottom-2 w-8 -rotate-45;
}

.animate {
  @apply animate-bounce;
  animation-duration: 3s;
}

/* nav bar */

.nav--transition:hover {
  @apply font-bold transition-all;
}

.nav--transition::before {
  content: "";
  @apply absolute -bottom-1 h-1 w-full origin-left scale-x-0 rounded-xl bg-primary bg-opacity-80 transition-all duration-300;
}

.nav--transition:hover::before {
  @apply scale-x-100;
}

/* card */

.card--team:hover .card--team--info,
.card--resource:hover .card--resource--info {
  @apply left-0 top-0 h-full w-full;
}

/* input[type=radio] */

input[type="radio"] {
  appearance: none;
  margin: 0;
  @apply flex h-8 w-8 items-center justify-center rounded-lg border-[2px] border-black transition-colors;
}

input[type="radio"]:checked {
  @apply border-0 bg-primary;
}

/* light box */

.animate--light-box--entry {
  animation-name: enter-animation;
  animation-duration: 1s;
}

.animate--light-box--exit {
  animation-name: exit-animation;
  animation-duration: 1s;
}

@keyframes enter-animation {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(-400px, 0, 0);
  }
  30% {
    opacity: 1;
  }
  60% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: translate3d(30px, 0, 0);
  }
  100% {
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exit-animation {
  0% {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(0, 0, 0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: translate3d(-30px, 0, 0);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(400px, 0, 0);
  }
}


main {
  @apply mt-32
}